CompileFlags:
  CompilationDatabase: build/dev
  CompilationDatabaseFallback:
    - build/release
    - build/debug
Index:
  Background: Build
Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
Hover:
  ShowAKA: true
InlayHints:
  Enabled: true
